.navColor{
    background-color:rgb(39,120,102);
}
.btnColor{
    background:rgb(57,96,236);
}
.contMargin{
    margin-top:100px;
}
.features-color{
    background:rgb(152,152,152);
}
.store-seller{
    height:300px;
}